.project-detail-header-container {
    display:flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.project-detail-header-container div > * {
    display:inline !important;
}

.project-detail-members > * {
    margin-right: 0.5rem;
}


.project-detail-statuses-container {
    display:flex;
    align-items: flex-start;
}

.project-detail-header-left div {
    margin-right: 4rem;
}

.project-detail-header-left div > * {
    display:inline !important;
}

.project-detail-header-left div svg {
    margin-right: 1rem;
}