.task-card-form-container{
    display: inline-block;
    margin: auto; 
    margin-top: 0.5rem;
    border: 1px solid gray;
    border-top: 2px solid blue;
    width: 13rem;
    height: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.task-card-form-container p {
    display:inherit
}

.task-card-form-container svg {
    display: inherit;
    margin-right: 0.5rem;
}

.task-card-form-container:hover {
    background-color: #EEEEEE !important;
}
.form-control {
    font-size: 0.8rem;
}