button {
    margin-right: 0.5rem;
}
.project-invitations-modal-header-container {
    display:flex;
}

.project-invitations-modal-header-container > * {
    margin-right: 0.8rem;
}

.project-invitations-modal-header-container > h4 {
    padding-top: 0.5rem;
}