.project-card-container {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    flex: 0 0 230px !important;
    width: 15rem !important;
    height: 8rem !important;
    max-width: 15rem !important;
    max-height: 8rem !important;
    cursor: pointer;
}
.card {
    flex: 0 0 15rem;
    width:15rem;
    height:8rem;
    max-width: 15rem;
    max-height: 8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #FFFFFF !important;
    border-top: 2px solid red;
}

.card:hover {
    background-color: #EEEEEE !important;
}

.card-body {
    padding: 0.5rem;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}