.task-card-container{
    display: inline-flex !important;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto; 
    margin-top: 0.5rem;
    border: 1px solid gray;
    border-top: 2px solid red;
    width: 13rem;
    height: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.task-card-container > div > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    margin-bottom: 0rem !important;
}

.task-card-container:hover {
    background-color: #EEEEEE !important;
}

.task-card-prop-info {
    display: inline-flex;
    min-width: 0;
    flex-basis: 50%;
    margin-right: 0.5rem;
}
.task-card-prop-info > p{
    padding-left: 0.3rem;
}
.task-card-prop-bottom {
    margin-top: 0.5rem;
}
