.task-detail-description-header > *{
    display: inline-block;
}
.task-detail-title-container > *{
    display: inline-block;
}

.task-detail-title-container > svg{
    width: 2rem;
    height: 2rem;
}

.task-detail-modal-container svg {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}


.task-detail-description-header > *{
    padding-left: 0.3rem;  
    padding-right: 0.3rem; 
}

.task-detail-description-content {
    margin-left: 15px;
    margin-right: 15px;
}
.task-detail-description-content p {
    word-wrap: break-word;
}

.task-detail-description-content li {
    margin-bottom: 1rem;
}

.task-detail-description-container{
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

.task-detail-description-content form {
    display:inline-block;
    width:100%;
}
.task-detail-description-content button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.85rem;
}

.task-detail-modal-header-fields {
    display: flex;
    justify-content: space-between;
}

.task-detail-description-block {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}