.project-cards-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
}


.project-list-header-container {
    display:flex;
    justify-content: left;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.project-list-header-container div{
    padding-right: 4rem;
}

.project-list-header-container div > * {
    display:inline !important;
}

.project-list-header-container div > button {
    margin-bottom: 0.8rem;
}
.project-list-invitations > * {
    margin-right: 0.5rem;
}
.project-list-header > * {
    margin-right: 0.5rem;
}


