.task-list-status-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 1px solid gray;
    border-top: 2px solid red;
    width: 14rem;
    height: auto;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.task-list-status-container h4 {
    display: inline-block;
}