.navbar {
    background-color: #FFFFFF !important; 
}

.logo-nav {
    width: 213px;
    height: 85px;
    max-width: 140px;
    max-height: 50px;
    background: url('../../assets/logo.png') no-repeat;
    background-size:contain;
}

.dropdown-toggle {
    /* color: #8E8D8A; */
    color: black;
    /* color: #EEEEEE; */
    /* color: #E85A4F; */
}

.dropdown-menu {
    background-color: #FFFFFF !important;
    right:0;
}

.dropdown-divider {
    border-top: 1px solid #EEEEEE;
}

.dropdown-item:hover, .dropdown-toggle:hover {
    background-color: #EEEEEE;
    color:black;
}